# Variables de entorno para el Backend
FLASK_ENV=production
FLASK_APP=app.py

# Variables de entorno para el Frontend
VITE_API_URL=http://localhost:5000
VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=your_domain_here
